.form-section {
  height: 100vh;
  display: flex;
  align-items: center;
  background: url(../../assets/eucalipto-bgc.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}