.btn-hero {
  width: 70%;
  margin: 20px auto !important;
  font-size: 18px !important;
  /* background: #000 !important; */
  color: #fff !important;
  border: 1px solid white !important;
  opacity: 0;
  transform: translateY(20px);
  animation: btn-move 2s ease-in-out forwards;
  animation-delay: 2s;
}

.text-hero {
  opacity: 0;
  transform: translateY(-20px);
  animation: text-move 3s ease-in-out forwards;
}

@keyframes btn-move {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes text-move {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
