.timer-container {
  background: url(../../assets/eucalipto-bgc.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 20px 0;
  text-align: center;
  /* color: #888; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.countdown-container {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

.title {
  font-style: italic;
  font-size: 40px;
  color: #07928E;
  /* font-weight: bold; */
}

.date-container {
  color: #07928E;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}






