.timer-container {
  height: 100vh;
  background: url(../../assets/eucalipto-bgc.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.countdown-container {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

.title {
  font-style: italic;
  color: #07928E;
}

.date-container {
  color: #375849;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}






