.loader-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-loader {
  width: 70%;
  margin: 20px auto !important;
  font-size: 16px !important;
  color: #000 !important;
  border: 1px solid #000 !important;
  opacity: 0;
  transform: translateY(20px);
  animation: btn-move 2s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes btn-move {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}